@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@200;300;400;500&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
}

body {
  background: hsl(226deg, 43%, 10%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

main {
  max-width: 330px;
  width: 100%;
  margin-top: 80px;
}
@media (min-width: 600px) {
  main {
    max-width: 1120px;
    display: grid;
    grid-gap: 30px;
    grid-template-columns: 1fr 3fr;
    margin: 0;
  }
}
main section.user-card {
  background: hsl(235deg, 46%, 20%);
  border-radius: 15px;
}
main section.user-card .user {
  padding: 30px;
  background: hsl(246deg, 80%, 60%);
  border-radius: 15px;
  display: flex;
  color: white;
  align-items: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
@media (min-width: 600px) {
  main section.user-card .user {
    flex-direction: column;
    align-items: start;
    padding-bottom: 80px;
  }
}
main section.user-card .user img {
  height: 70px;
  border-radius: 100%;
  border: 3px solid white;
  margin-right: 15px;
}
@media (min-width: 600px) {
  main section.user-card .user img {
    margin-bottom: 45px;
  }
}
main section.user-card .user p {
  color: hsl(236deg, 100%, 87%);
}
main section.user-card .user h1 {
  font-weight: 300;
}
@media (min-width: 600px) {
  main section.user-card .user h1 {
    font-size: 2.5rem;
  }
}
main section.user-card .time-period {
  display: flex;
  justify-content: space-evenly;
  padding: 30px 0;
}
@media (min-width: 600px) {
  main section.user-card .time-period {
    flex-direction: column;
    padding: 30px;
  }
}
main section.user-card .time-period a {
  color: hsl(235deg, 45%, 61%);
  text-decoration: none;
  font-size: 1.1rem;
}
main section.user-card .time-period a.active {
  color: white;
}
@media (min-width: 600px) {
  main section.user-card .time-period a {
    margin: 10px 0;
    transition: color 0.2s;
  }
  main section.user-card .time-period a:hover {
    color: hsl(236deg, 100%, 87%);
  }
}
main .time-card-container {
  display: grid;
  grid-gap: 30px;
  margin-top: 30px;
}
@media (min-width: 600px) {
  main .time-card-container {
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0;
  }
}
main .time-card-container section.time-card {
  background: hsl(246deg, 80%, 60%);
  border-radius: 15px 15px 50px 50px;
  background-position: top -10px right 15px;
  background-repeat: no-repeat;
}
main .time-card-container section.time-card .content {
  background: hsl(235deg, 46%, 20%);
  margin-top: 40px;
  border-radius: 15px;
  padding: 35px 30px;
  color: white;
}
@media (min-width: 600px) {
  main .time-card-container section.time-card .content {
    padding: 30px;
    transition: background 0.2s;
  }
  main .time-card-container section.time-card .content:hover {
    background: #292f70;
    cursor: pointer;
  }
}
main .time-card-container section.time-card .content .title, main .time-card-container section.time-card .content .data {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
main .time-card-container section.time-card .content .title h2 {
  font-size: 1.2rem;
  font-weight: 400;
}
@media (min-width: 600px) {
  main .time-card-container section.time-card .content .title h2 {
    font-size: 1.1rem;
  }
}
main .time-card-container section.time-card .content .title img {
  width: 25px;
  opacity: 0.8;
  transition: opacity 0.2s;
}
@media (min-width: 600px) {
  main .time-card-container section.time-card .content .title img:hover {
    opacity: 1;
  }
}
main .time-card-container section.time-card .content .data {
  margin-top: 5px;
}
@media (min-width: 600px) {
  main .time-card-container section.time-card .content .data {
    flex-direction: column;
    align-items: start;
    margin-top: 30px;
  }
}
main .time-card-container section.time-card .content .data .current-hours {
  font-size: 2rem;
  font-weight: 200;
}
@media (min-width: 600px) {
  main .time-card-container section.time-card .content .data .current-hours {
    font-size: 3.5rem;
  }
}
main .time-card-container section.time-card .content .data .previous-hours {
  color: hsl(236deg, 100%, 87%);
  font-size: 0.95rem;
}
@media (min-width: 600px) {
  main .time-card-container section.time-card .content .data .previous-hours {
    margin-top: 10px;
  }
}

/*# sourceMappingURL=styles.css.map */
